/* Imagenes de Undraw.co */
/* Iconos de flaticon */
/* Waibi */
/* FOOTER */
footer {
  width: 100%;
  margin-top: 25px;
  padding: 50px 0px;
  background-image: url(../images/background-footer.svg);
  background-size: cover;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
}

.box-footer {
  flex-direction: row;
  padding: 40px;
  justify-content: center;
  text-align: center;
  margin: -75px auto;
}
.box-footer h2 {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}
.box-footer a {
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  margin: auto 10px;
  text-decoration: none;
}
.box-footer a:hover {
  opacity: 0.8;
  color: #f1f1f1;
}

.copyright {
  max-width: 1200px;
  margin: -50px auto;
  text-align: center;
  padding: 40px 0px;
}
.copyright p {
  margin: 20px auto;
  color: #fff;
  padding: 1px;
}
.copyright hr {
  border: none;
  height: 3px;
  background-color: hsl(0deg, 0%, 100%);
}

/* FIN FOOTER */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #000;
  font-weight: 600;
  font-size: 20px;
  /* Estilo scrollbar */
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background-color: #914b9d;
}
body::-webkit-scrollbar-thumb {
  background: #42295e;
  border-radius: 25px;
  opacity: 0.2;
}

header {
  background-color: #42295e;
  color: #fff;
  margin-bottom: 30px;
}
header img {
  height: 70px;
}

.container-img {
  margin: 50px 60px 120px 35px;
  display: inline-block;
  width: 70%;
}

.container-misc {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}

.p-text {
  margin: 30px 20px 20px 20px;
}

.container-text {
  text-align: center;
  margin: 15px auto 35px;
  color: #fff;
}
.container-text .typed-text {
  text-decoration: none;
  font-weight: 600;
  color: #8270c3;
}

.title {
  font-weight: 600;
  font-size: 40px;
  margin: auto auto 20px auto;
  color: #000;
}

.card {
  margin: 10px;
  display: inline-block;
}

.logo img {
  height: 120px;
  margin: -9px 5px;
}

.bold {
  font-weight: 600;
}

/* Estilos para la galeria */
.h-title {
  text-align: center;
  font-size: 30px;
  color: #f1f1f2;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}
.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.gallery img:hover {
  opacity: 0.9;
  border-bottom: 3px solid #42295e;
  box-shadow: 2px 0px 4px #42295e;
  transform: scale(1.1);
}

/* PRICING */
.pricing-container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.table {
  width: 33%;
  height: 550px;
  margin: auto;
  border: 1px solid #914b9d;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #914b9d;
  padding: 60px;
  text-align: center;
  flex-grow: 1;
  color: #914b9d;
}
.table a {
  text-decoration: none;
  color: #fff;
}
.table h2 {
  display: block;
  font-size: 30px;
  margin-bottom: 35px;
}
.table img {
  width: 64px;
  margin-bottom: 35px;
}
.table h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.table p {
  display: block;
  margin-bottom: 20px;
}
.table:hover {
  background: #42295e;
  color: #f1f1f2;
  transition: 0.6s all;
  transform: scale(1.07);
  cursor: pointer;
}

.table-button {
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #914b9d;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}
.table-button:hover {
  background: #42295e;
  color: #f1f1f2;
  transition: 0.6s all;
  transform: scale(1.07);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .table {
    width: 45%;
    max-width: none;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-grow: initial;
  }
  .table h2 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 700px) {
  .table {
    width: 45%;
    padding: 30px;
  }
  .table h2 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 568px) {
  .table {
    width: 85%;
    padding: 20px;
  }
  .table h2 {
    margin-top: 40px;
  }
}
.form-container {
  font-weight: 600;
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
}
.button-container button {
  background-color: #914b9d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}
.button-container button:hover {
  background-color: #42295e;
  color: #f1f1f1;
  box-shadow: 5px 5px 15px #914b9d;
}

/*# sourceMappingURL=style.css.map */
