/* Imagenes de Undraw.co */
/* Iconos de flaticon */
/* Waibi */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");
/* FOOTER */
footer {
  width: 100%;
  margin-top: 25px;
  padding: 50px 0px;
  background-image: url(../images/background-footer.svg);
  background-size: cover;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
}

.box-footer {
  flex-direction: row;
  padding: 40px;
  justify-content: center;
  text-align: center;
  margin: -75px auto;
}
.box-footer h2 {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}
.box-footer a {
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  margin: auto 10px;
  text-decoration: none;
}
.box-footer a:hover {
  opacity: 0.8;
  color: #f1f1f1;
}

.copyright {
  max-width: 1200px;
  margin: -50px auto;
  text-align: center;
  padding: 40px 0px;
}
.copyright p {
  margin: 20px auto;
  color: #fff;
  padding: 1px;
}
.copyright hr {
  border: none;
  height: 3px;
  background-color: hsl(0deg, 0%, 100%);
}

/* FIN FOOTER */
a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: currentColor;
}

header {
  width: 100vw;
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}
header .container-fluid {
  width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navb-logo img {
  width: 100px;
  height: 75px;
}
header .navb-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .item {
  text-align: center;
  margin-inline: 15%;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 5px 0;
  transition: all 0.1s ease;
  border-bottom: 0px solid #42295e;
  border-top: 0px solid header .item pcolor;
  cursor: pointer;
}
header .item:hover {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
header .item-button a {
  color: #fff;
  background-color: #000;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease;
}
header .item-button a:hover {
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}

.modal-dialog {
  margin: 0;
  width: 430px;
}

@media (max-width: 450px) {
  .modal-dialog {
    width: 82px;
  }
}
.modal-content {
  border-radius: 0;
  height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #fefefe;
}
.modal-header img {
  height: 66px;
  width: 100px;
  margin-top: 5px;
}
.modal-header .btn-close {
  background: transparent;
  opacity: 1;
}
.modal-header i {
  color: #fefefe;
  font-size: 30px;
}

.modal-body {
  width: 88%;
  margin: 0 auto;
  padding: 75px 0 0 0;
  flex: unset;
}

.modal-line li {
  list-style: none;
}
.modal-line a {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: normal;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
  border-bottom: 1px solid #a231ea;
}
.modal-line a:hover {
  transform: scale(1.1);
}
.modal-line i {
  color: currentColor;
  font-size: 15px;
  width: 35px;
  margin-right: 15px;
  padding: 0 0 3px 3px;
}
.modal-line .navb-button {
  width: 100%;
  height: 45px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700px;
  color: #fff;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  border-bottom: none;
}
.modal-line .navb-button:hover {
  background-color: #fefefe;
  color: #000;
  border: 2px solid #000;
}

.modal-mobile-footer {
  width: 87px;
  margin: 0 auto;
  padding: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  letter-spacing: 20px;
  color: #000;
  transition: all 0.5s ease;
}
.modal-mobile-footer i:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: #fff;
  font-size: 20px;
  overflow-x: hidden;
  /* Estilo scrollbar */
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background-color: #914b9d;
}
body::-webkit-scrollbar-thumb {
  background: #42295e;
  border-radius: 25px;
  opacity: 0.2;
}

.container-img {
  margin: auto;
  display: inline-block;
  width: 40%;
}

.container-misc {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}
.container-misc .p-text {
  margin: 30px;
  font-style: normal;
}

.container-text {
  text-align: center;
  margin: 15px auto 35px;
  color: #000;
}
.container-text .typed-text {
  text-decoration: none;
  font-weight: 600;
  color: #8270c3;
}

.title {
  font-weight: 600;
  font-size: 40px;
  margin: auto;
  color: #000;
}

.card {
  margin: 10px;
  display: inline-block;
}

.logo img {
  height: 120px;
  margin: -9px 5px;
}

.bold {
  font-weight: 600;
}

/* Estilos para la galeria */
.h-title {
  text-align: center;
  font-size: 30px;
  color: #000;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}
.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.gallery img:hover {
  opacity: 0.9;
  border-bottom: 3px solid #42295e;
  box-shadow: 2px 0px 4px #42295e;
  transform: scale(1.1);
  transition: 0.9s all;
}

/* PRICING */
.pricing-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.table {
  width: 33%;
  height: 550px;
  margin: 1px;
  border: 1px solid #914b9d;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #914b9d;
  padding: 60px;
  text-align: center;
  flex-grow: 1;
  color: #000;
  background-color: #42295e;
}
.table a {
  text-decoration: none;
  color: #000;
}
.table h2 {
  display: block;
  font-size: 30px;
  margin-bottom: 35px;
}
.table img {
  width: 64px;
  margin-bottom: 35px;
}
.table h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.table p {
  display: block;
  margin-bottom: 20px;
}
.table:hover {
  background: #42295e;
  color: #000;
  transition: 0.6s all;
  transform: scale(1.07);
  cursor: pointer;
}

.table-button {
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #914b9d;
  text-decoration: none;
  color: #914b9d;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}
.table-button:hover {
  background: #914b9d;
  color: #000;
  transition: 0.6s all;
  transform: scale(1.07);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .table {
    width: 45%;
    max-width: none;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-grow: initial;
  }
  .table h2 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 700px) {
  .table {
    width: 45%;
    padding: 30px;
  }
  .table h2 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 568px) {
  .table {
    width: 85%;
    padding: 20px;
  }
  .table h2 {
    margin-top: 40px;
  }
}
/* FIN DEL PRICING*/
.form-container {
  font-weight: 600;
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
}
.button-container button {
  background-color: #914b9d;
  color: #000;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}
.button-container button:hover {
  transform: scale(1.05);
  transition: 0.7s all;
  color: #f1f1f1;
}

.page-title {
  font-weight: 600;
  text-align: center;
  color: #000;
}

.form-box {
  background-color: #42295e;
  color: #000;
}

.ptext {
  font-size: 26px;
}

/*# sourceMappingURL=style.css.map */
