*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

header{
align-items: center;
padding: auto;

}
header img{
    height: 70px;
}

.container-welcome-text{
text-align: center;
margin: 15px auto 35px;
}
.welcome-text{
    font-size: 30px;
}
.name-text{
    color: #DC3545;
    font-weight: 600;
}