/* FOOTER */

footer {
	width: 100%;
	margin-top: 25px;
	padding: 50px 0px;
	background-image: url(../images/background-footer.svg);
	background-size: cover;
}

.container-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: 50px auto;
}

.box-footer {
	flex-direction: row;
	padding: 40px;
	justify-content: center;
	text-align: center;
	margin: -75px auto;

	h2 {
		margin-bottom: 50px;
		color: hsl(0, 0%, 0%);
		font-weight: 700;
	}

	a {
		color: hsl(0, 0%, 0%);
		font-weight: 600;
		font-family: sans-serif;
		margin: auto 10px;
		text-decoration: none;

		&:hover {
			opacity: 0.8;
			color: #f1f1f1;
		}
	}
}

.copyright {
	max-width: 1200px;
	margin: -50px auto;
	text-align: center;
	padding: 40px 0px;

	p {
		margin: 20px auto;
		color: hsl(0, 0%, 0%);
	}

	hr {
		border: none;
		height: 1px;
		background-color: hsl(0, 0%, 0%);
	}
}

/* FIN FOOTER */
