/* Imagenes de Undraw.co */
/* Iconos de flaticon */
/* Waibi */

//VARIABLES:
$scolor: #8270c3;
$pcolor: #42295e;
$tcolor: #914b9d;
$wcolor: #f1f1f1;
//
@import "footer";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	background-color: #000;
	font-size: 20px;

	/* Estilo scrollbar */
	//ESTILOS DE SCROLLBAR
	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		background-color: $tcolor;
	}

	&::-webkit-scrollbar-thumb {
		background: $pcolor;
		border-radius: 25px;
		opacity: 0.2;
	}
}

header {
	background-color: $pcolor;
	color: $tcolor;
	margin-bottom: 30px;

	img {
		height: 70px;
	}
}

.container-img {
	margin: auto;
	display: inline-block;
	width: 40%;
}

.container-misc {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: center;
	.p-text {
		margin: 30px;
		font-style: normal;
	}
}

.container-text {
	text-align: center;
	margin: 15px auto 35px;
	color: $wcolor;

	.typed-text {
		text-decoration: none;
		font-weight: 600;
		color: $scolor;
	}
}

.title {
	font-weight: 600;
	font-size: 40px;
	margin: auto;
	color: $wcolor;
}

.card {
	margin: 10px;
	display: inline-block;
}

.logo img {
	height: 120px;
	margin: -9px 5px;
}

.bold {
	font-weight: 600;
}

/* Estilos para la galeria */

.h-title {
	text-align: center;
	font-size: 30px;
	color: $wcolor;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px 10px;

	img {
		width: 100%;
		max-width: 350px;
		height: 300px;
		object-fit: cover;
		border-radius: 10px;

		&:hover {
			opacity: 0.9;
			border-bottom: 3px solid $pcolor;
			box-shadow: 2px 0px 4px $pcolor;
			transform: scale(1.1);
			transition: 0.9s all;
		}
	}
}

/* PRICING */

.pricing-container {
	width: 100%;
	max-width: 900px;
	margin: auto;
	padding: auto;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;
}

.table {
	width: 33%;
	height: 550px;
	margin: 1px;
	border: 1px solid $tcolor;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 0px $tcolor;
	padding: 60px;
	text-align: center;
	flex-grow: 1;
	color: $wcolor;
	background-color: $pcolor;

	a {
		text-decoration: none;
		color: $tcolor;
	}
	h2 {
		display: block;
		font-size: 30px;
		margin-bottom: 35px;
	}

	img {
		width: 64px;
		margin-bottom: 35px;
	}

	h3 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	p {
		display: block;
		margin-bottom: 20px;
	}

	&:hover {
		background: $pcolor;
		color: $wcolor;
		transition: 0.6s all;
		transform: scale(1.07);
		cursor: pointer;
	}
}

.table-button {
	display: inline-block;
	width: 150px;
	padding: 12px;
	background: $tcolor;
	text-decoration: none;
	color: $tcolor;
	border-radius: 100px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	margin: auto;

	&:hover {
		background: $pcolor;
		color: $wcolor;
		transition: 0.6s all;
		transform: scale(1.07);
		cursor: pointer;
	}
}

@media screen and (max-width: 1000px) {
	.table {
		width: 45%;
		max-width: none;
		flex-direction: column;
		margin-bottom: 40px;
		justify-content: space-between;
		flex-grow: initial;

		h2 {
			margin-top: 40px;
		}
	}
}

@media screen and (max-width: 700px) {
	.table {
		width: 45%;
		padding: 30px;

		h2 {
			margin-top: 40px;
		}
	}
}

@media screen and (max-width: 568px) {
	.table {
		width: 85%;
		padding: 20px;

		h2 {
			margin-top: 40px;
		}
	}
}
/* FIN DEL PRICING*/

.form-container {
	font-weight: 600;
	font-size: 20px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 600;

	button {
		background-color: $tcolor;
		color: $tcolor;
		border: none;
		border-radius: 4px;
		padding: 10px;
		font-size: 30px;
		font-weight: 600;

		&:hover {
			transform: scale(1.05);
			transition: 0.7s all;
			color: #858585;
		}
	}
}

.page-title {
	font-weight: 600;
	text-align: center;
	color: $wcolor;
}
.form-box {
	background-color: $pcolor;
	color: $wcolor;
}

.ptext {
	font-size: 26px;
}
